@font-face {
  font-family: 'Freckle Face';
  font-style: normal;
  font-weight: 400;
  src: local('Freckle Face'), local('FreckleFace-Regular'), url(../fonts/AMOWz4SXrmKHCvXTohxY-YIEVFiy.ttf) format('truetype');
}
