@font-face {
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 400;
  src: local('Crete Round'), local('CreteRound-Regular'), url(../fonts/55xoey1sJNPjPiv1ZZZrxK170bg.ttf) format('truetype');
}
